    .bill {
        display: flex;
        padding: 12px;
    }
    
    .bill-infor {
        width: 79%;
        height: 90%;
        background-color: white;
        margin-right: 1%
    }
    
    .bill-search {
        width: 100%;
        height: 32px;
        padding: 8px;
        margin-bottom: 10px;
    }
    
    .bill-content {
        padding: 8px;
    }
    
    .bill-pay {
        width: 20%;
        height: 88vh;
        background-color: white;
        border-radius: 4px;
        padding: 8px;
    }
    
    .bill-pay h6 {
        text-align: center;
        margin: 10px 0;
    }
    
    .bill-customer-search-list {
        padding: 4px;
        cursor: pointer;
        border-radius: 4px;
    }
    
    .bill-pay .infor {
        font-weight: 500;
        margin: 8px 0;
    }
    
    .bill-customer-search-list:hover {
        background-color: rgb(212, 209, 209)
    }
    
    .bill-search-list {
        display: flex;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        align-items: center;
    }
    
    .bill-search-list:hover {
        background-color: rgb(212, 209, 209)
    }
    
    .bill-search-image {
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 40px;
        margin-right: 12px;
    }