.btn-normal {
    background-color: var(--white);
    border-color: 1px solid var(--black);
    font-size: 14px;
    white-space: nowrap;
    font-weight: 400;
}

.btn-normal:focus {
    outline: 0
}

button {
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 500;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.btn {
    height: 36px;
    min-width: 80px;
    padding: 0 16px;
}

.noText {
    width: 36px;
    height: 36px;
}

.hasIcon {
    padding: 0 16px 0 12px;
}

.noText {
    padding: 0 8px;
    justify-content: center;
    background-color: var(--button-primary-normal-bg-color);
}

.btn-icon {
    mask: url(~@/assets/img/icon.svg);
    background-repeat: no-repeat;
    margin: 0 8px 0 0;
    background-color: white;
}

.noText .btn-icon {
    margin: 0;
    background-color: #666;
}

.dx-button.dx-button-default {
    background-color: var(--button-primary-normal-bg-color);
}

.dx-button.dx-button-default.dx-state-hover {
    background-color: var(--button-primary-hover-bg-color);
}

.dx-button.dx-button-default.dx-state-active {
    background-color: var(--button-primary-active-bg-color);
}

.dx-button.dx-button-default.dx-state-focused {
    background-color: var(--button-primary-focus-bg-color);
}

.vue-button-primary {
    color: var( --button-primary-color);
    background-color: var(--button-primary-normal-bg-color);
    border: 1px solid var( --button-primary-normal-border-color);
}

.vue-button-primary:hover {
    background-color: var(--button-primary-hover-bg-color);
    border: 1px solid var( --button-primary-normal-border-color);
}

.vue-button-primary:active {
    background-color: var( --button-primary-active-bg-color);
    border: 1px solid var( --button-primary-active-border-color);
}

.vue-button-primary:disabled {
    background-color: var( --button-primary-disabled-color);
    border: 1px solid var( --button-primary-disabled-bg-color);
    color: var(--black);
}

.vue-button-primary:focus {
    background-color: var( --button-primary-focus-bg-color);
    border: 1px solid var( --button-primary-focus-border-color);
    outline: 0
}

.vue-button-secondary {
    color: #000;
    border: 1px solid #bbbbbb;
}

.vue-button-secondary:hover {
    background-color: #e9ebee;
    border: 1px solid #bbbbbb;
}

.vue-button-secondary:active {
    background-color: #01B075;
    border: 1px solid #bbbbbb;
}

.vue-button-secondary:focus {
    background-color: #01B075;
    border: 1px solid #bbbbbb;
    outline: 0
}

.noText:hover {
    background-color: var(--button-primary-hover-bg-color);
    border: 1px solid var( --button-primary-normal-border-color);
}

.noText:hover .btn-icon {
    background-color: #fff;
}

.noText:focus {
    background-color: var( --button-primary-focus-bg-color);
    border: 1px solid var( --button-primary-focus-border-color);
    outline: 0
}

.noText:focus .btn-icon {
    background-color: #fff;
}

.noText:active {
    background-color: var( --button-primary-active-bg-color);
    border: 1px solid var( --button-primary-active-border-color);
}

.noText:active .btn-icon {
    background-color: #fff;
}

.vue-button-danger {
    font-size: 14px;
    font-weight: bold;
    color: var( --primary);
    background-color: var(--white);
    border: 1px solid var( --button-primary-normal-border-color);
}

.vue-button-danger:hover {
    background-color: rgb(250, 234, 234);
    border: 1px solid var( --button-primary-normal-border-color);
}

.vue-button-danger:active {
    background-color: rgb(248, 226, 226);
    border: 1px solid var( --button-primary-active-border-color);
}

.vue-button-danger:disabled {
    background-color: rgb(248, 226, 226);
    border: 1px solid var( --button-primary-disabled-bg-color);
    color: var(--black);
}

.vue-button-danger:focus {
    background-color: rgb(248, 226, 226);
    border: 1px solid var( --button-primary-focus-border-color);
    outline: 0
}

.vue-button-filled {
    color: #3C4ADA;
    background-color: var(--white);
    border: 0;
}

.vue-button-filled:focus {
    outline: 0;
}

.vue-button-default.noText:hover {
    background-color: #fff;
    color: #171b2a;
    border: 1px solid #dadce3;
}

.vue-button-default.noText:focus {
    background-color: #fff;
    color: #171b2a;
    border: 1px solid #dadce3;
}

.vue-button-default.noText:active {
    background-color: #fff;
    color: #171b2a;
    border: 1px solid #dadce3;
}

.vue-button-primary-danger {
    color: var( --button-primary-color);
    background-color: #EF292F;
    border: 1px solid #EF292F;
}

.vue-button-primary-danger:hover {
    background-color: #ed1219;
    border: 1px solid #ef292f;
}

.vue-button-primary-danger:active {
    background-color: #d51017;
    border: 1px solid #ef292f;
}

.vue-button-primary-danger:focus {
    background-color: #ed1219;
    border: 1px solid #ef292f;
    outline: 0
}