.dx-theme-material-typography a {
    color: #000;
}

.login-link {
    color: #000!important;
}

.dx-toolbar .dx-toolbar-items-container {
    height: 56px;
    overflow: visible;
}

.side-navigation-menu .menu-container .dx-treeview .dx-treeview-node[aria-level="2"] .dx-treeview-item-content {
    font-weight: normal;
    padding: 0 40px !important;
}
.list-header .list-header-selectbox .dx-texteditor-container{
    margin-right: 0!important;
    width:100%!important;
}

.dx-texteditor.dx-editor-underlined.dx-state-disabled::after, .dx-texteditor.dx-editor-underlined.dx-state-readonly.dx-state-hover::after, .dx-texteditor.dx-editor-underlined.dx-state-readonly::after {
    border-bottom-style: solid;}