.image-input input {
    display: none;
}

.image-input .imagePreviewWrapper {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}